PRODUCTION_MODE=0
MASTER_DATABASE_DRIVER='mysql'
MASTER_DATABASE_HOST='0.0.0.0'
MASTER_DATABASE_PORT=3306
MASTER_DATABASE_USERNAME='username'
MASTER_DATABASE_PASSWORD='password'
MASTER_DATABASE_NAME='database_name'
